---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import Tag from "../../components/Tag.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import authors from "../../content/authors/authors.json";
import AboutTheAuthor from "../../components/AboutTheAuthor.astro";
import ArticlePreview from "../../components/ArticlePreview.astro";

export async function getStaticPaths() {
  const allArticles = await getCollection("articles");

  return allArticles.map((article) => ({
    params: { slug: article.slug },
    props: { article },
  }));
}

const { article } = Astro.props;
const { Content } = await article.render();
const articleAuthor = article.data.author;
const authorInfo = authors.find(function (author) {
  return author.name === articleAuthor;
});
const featuredArticles = await getCollection("articles", ({ data }) => {
  return data.featured;
});
---

<BaseLayout>
  <article class="full-article | container flow" data-type="narrow">
    <div class="meta">
      <div class="flex-group align-center">
        <Tag tag={article.data.tags[0]} />
        creation date:<FormattedDate date={article.data.creationDate} />
        update date:<FormattedDate date={article.data.updateDate} />
      </div>
      <a
        href="#"
        class="flex-group align-center"
        style="--flex-column-gap: .5rem"
      >
        <img src="/images/share.svg" alt="" />
        <span>Share</span>
      </a>
    </div>
    <h1 class="heading-2">{article.data.title}</h1>
    <Content />
    <AboutTheAuthor
      name={authorInfo.name}
      description={authorInfo.description}
      image={authorInfo.image}
    />
  </article>
  <div class="container">
    <section class="featured section | flow">
      <h2 class="heading-2">Featured articles</h2>
      <div class="grid-auto-fit">
        {
          featuredArticles
            .slice(0, 3)
            .map((article) => <ArticlePreview excerptLength="80" {article} />)
        }
      </div>
    </section>
  </div>
</BaseLayout>

<style lang="scss">
  @use "../../styles/abstracts" as *;

  .meta {
    width: 100%;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
  }

  .featured {
    margin-top: $section-padding-block;
    border-top: $divider;
  }
</style>
