---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const allArticles = await getCollection("articles");
---

<BaseLayout title="Food Fun Travel | Articles">
  <div class="container">
    <div class="grid-auto-fit">
      {
        allArticles.map((article) => (
          <article class="flow">
            <img
              src={`/images/articles/${article.data.imageSrc}`}
              alt={article.data.imageAlt}
            />
            <h3 class="fs-500 fw-bold">{article.data.title}</h3>
            <p>
              <a href={`/articles/${article.slug}`}>
                Read more{" "}
                <span class="visually-hidden">about {article.data.title}</span>
              </a>
            </p>
          </article>
        ))
      }
    </div>
  </div>
</BaseLayout>
