---
import FormattedDate from "./FormattedDate.astro";
import Tag from "./Tag.astro";
import { useTranslations } from "../utils/translations";

const { article, locale } = Astro.props;
const { t } = useTranslations(locale);
---

<article class="flow">
  <div class="image-container">
    <picture>
      <source srcset={article.data.imageWebp} type="image/webp" />
      <img
        src={article.data.imagePng}
        alt={article.data.imageAlt}
        loading="lazy"
      />
    </picture>

    <Tag class="tag" tag={article.data.tags[0]} locale={locale} />
  </div>
  <FormattedDate date={article.data.updateDate} locale={locale} />
  <h2 class="fs-500 fw-bold">{article.data.title}</h2>
  <p class="fs-400">{article.data.subtitle}</p>
  <p>
    <a href={`/${locale}/articles/${article.slug}/`}>
      {t("common.readMore")}
      <span class="visually-hidden">about {article.data.title}</span>
    </a>
  </p>
</article>

<style lang="scss">
  @use "../styles/abstracts" as *;

  article {
    --_article-preview-layout: var(--article-preview-layout, default);
    --flow-spacer: #{$article-preview-spacing};
    max-width: 550px;
  }

  .image-container {
    position: relative;
  }

  .tag {
    position: absolute;
    z-index: 1;
    bottom: $article-preview-tag-offset;
    left: $article-preview-tag-offset;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: $article-preview-aspect-ratio;
    border-radius: $border-radius-2;
  }

  @container style(--article-preview-layout: alternative) {
    article {
      --flow-spacer: 0;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto 1fr;
      grid-template-areas:
        "image date"
        "image title"
        "image link";
      gap: 0.5rem 1rem;

      .image-container {
        grid-area: image;
      }

      h2 {
        grid-area: title;
      }

      p:has(a) {
        grid-area: link;
      }
    }
  }
</style>
