---
import FormattedDate from "./FormattedDate.astro";
import Tag from "./Tag.astro";
import { createExcerpt } from "../utils/create-excerpt";
const { article, excerptLength = 0 } = Astro.props;
---

<article class="flow">
  <div class="image-container">
    <img src={article.data.imageSrc} alt={article.data.imageAlt} />

    <Tag class="tag" tag={article.data.tags[0]} />
  </div>
  <FormattedDate date={article.data.creationDate} />
  <h2 class="fs-500 fw-bold">{article.data.title}</h2>
  {
    excerptLength > 0 && (
      <p>{createExcerpt(article.body).substring(0, excerptLength)}...</p>
    )
  }
  <p>
    <a href={`/articles/${article.slug}`}>
      Read more
      <span class="visually-hidden">about {article.data.title}</span>
    </a>
  </p>
</article>

<style lang="scss">
  @use "../styles/abstracts" as *;

  article {
    --_article-preview-layout: var(--article-preview-layout, default);

    --flow-spacer: #{$article-preview-spacing};
  }

  .image-container {
    position: relative;
  }

  .tag {
    position: absolute;
    z-index: 1;
    bottom: $article-preview-tag-offset;
    left: $article-preview-tag-offset;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: $article-preview-aspect-ratio;
    border-radius: $border-radius-2;
  }

  @container style(--article-preview-layout: alternative) {
    article {
      --flow-spacer: 0;

      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: auto auto 1fr;
      grid-template-areas:
        "image date"
        "image title"
        "image link";
      gap: 0.5rem 1rem;

      .image-container {
        grid-area: image;
      }

      h2 {
        grid-area: title;
      }

      p:has(a) {
        grid-area: link;
      }
    }
  }
</style>
