---
import "../styles/main.scss";
import { SEOMetadata } from "astro-seo-metadata";
const {
  title = "Eva Wu's Tech Blog",
  description = "This is my personal tech blog, primarily dedicated to programming study notes and software/digital-related content. Occasionally, I may also share aspects of my personal life.",
  ogimage = "/newsletter-cta.jpg",
  author,
} = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  
  <!-- Open Graph tags -->
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={`${Astro.url.origin}${ogimage}`} />
  <meta property="og:url" content={Astro.url.toString()} />
  <meta property="og:type" content="website" />
  
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
    rel="stylesheet"
  />
  <SEOMetadata
    title={title}
    description={description}
    image={`${Astro.url.origin}${ogimage}`}
    author={author}
    astroSitemap={true}
    canonicalUrl={Astro.url.toString()}
    type={"website"}
    astroGenerator={true}
  />
</head>
