---
import "../styles/main.scss";
import { ViewTransitions } from "astro:transitions";
import { SEOMetadata } from "astro-seo-metadata";
const {
  title = "Eva Wu's Tech Blog",
  description = "Discover the perfect blend of adventure and flavor at Travel Fun Food! Dive into captivating travel stories and indulge your taste buds with delectable culinary experiences. Join us on a journey of exploration and gastronomy, where every adventure is seasoned with excitement. Ready to embark on a world of travel, fun, and food? 🌍",
  ogimage = "/newsletter-cta.jpg",
  author,
} = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="description" content="Astro description" />
  <meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
    rel="stylesheet"
  />
  <ViewTransitions />
  <SEOMetadata
    siteName={"Eva Wu's Tech Blog"}
    title={title}
    description={description}
    image={`${Astro.url.origin}${ogimage}`}
    author={author}
    astroSitemap={true}
    canonicalUrl={Astro.url.toString()}
    type={"website"}
    astroGenerator={true}
  />
</head>
