---
import "../styles/main.scss";
const {
  title = "Eva Wu's Tech Blog",
  description = "This is my personal tech blog, primarily dedicated to programming study notes and software/digital-related content. Occasionally, I may also share aspects of my personal life.",
  ogimage = "/newsletter-cta.jpg",
  author,
} = Astro.props;
---

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <!-- Primary meta tags -->
  <title>{title}</title>
  <meta name="description" content={description} />
  {author && <meta name="author" content={author} />}

  <!-- Open Graph / Facebook -->
  <meta property="og:type" content="website" />
  <meta property="og:title" content={title} />
  <meta property="og:description" content={description} />
  <meta property="og:image" content={`${Astro.url.origin}${ogimage}`} />
  <meta property="og:url" content={Astro.url.toString()} />

  <!-- Twitter -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content={title} />
  <meta name="twitter:description" content={description} />
  <meta name="twitter:image" content={`${Astro.url.origin}${ogimage}`} />

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="/images/favicon.svg" />

  <!-- Canonical URL -->
  <link rel="canonical" href={Astro.url.toString()} />

  <!-- Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Assistant:wght@200..800&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap"
    rel="stylesheet"
  />
</head>
