---
import BaseHead from "../components/BaseHead.astro";
import SiteFooter from "../components/SiteFooter.astro";
import SiteHeader from "../components/SiteHeader.astro";

const { title, description, author, ogimage, withGradient } = Astro.props;
const currentLocale = Astro.url.pathname.split("/")[1];
---

<html lang={currentLocale}>
  <BaseHead {title} {description} {author} {ogimage} />
  <body class={withGradient && "with-gradient"}>
    <SiteHeader locale={currentLocale} />
    <main id="main">
      <slot />
    </main>
    <SiteFooter locale={currentLocale} />
  </body>
</html>

<style lang="scss">
  @use "../styles/abstracts" as *;

  .with-gradient {
    background-image: $page-top-gradient;
    background-repeat: no-repeat;
    background-size: 100% $page-top-gradient-height;
  }

  body {
    display: grid;
    min-height: 100dvh;
    grid-template-rows: auto 1fr auto;
  }
</style>
